.movies-container {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
	justify-content: center;
	padding: 20px 0px;
	text-align: center;
}

.query-text {
	color: #e74c3c;
}

@media (max-width: 575.98px) {
	.movies-container {
		grid-template-columns: repeat(2, 150px);
	}
}
