@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.navbar {
	align-items: center;
	background: #000;
	display: flex;
	gap: 15px;
	height: 70px;
	justify-content: space-between;
	padding: 0 10%;
}

.logo img {
	margin-right: 5px;
}

.logo a {
	align-items: center;
	display: flex;
	font-family: "Quicksand", sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.navbar form {
	display: flex;
	height: 35px;
}

.navbar form input {
	border: none;
	border-radius: 5px 0 0 5px;
	font-size: 1.1rem;
	padding: 0 5px;
	outline: none;
	width: 90%;
}

.navbar form button {
	align-items: center;
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
	border-radius: 0 5px 5px 0;
	color: #ffffff;
	cursor: pointer;
	display: flex;
	font-size: 20px;
	justify-content: center;
	width: 35px;
}

.navbar form button:hover {
	background: #ff1801;
}

@media (max-width: 991.98px) {
	.navbar {
		padding: 0 5%;
	}

	.logo a {
		font-size: 25px;
	}
}
