@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.navbar {
	align-items: center;
	background: #000;
	display: flex;
	height: 70px;
	justify-content: space-between;
	padding: 0 10%;
}

.logo img {
	margin-right: 5px;
}

.logo a {
	align-items: center;
	display: flex;
	font-family: "Quicksand", sans-serif;
	font-size: 30px;
	font-weight: 700;
}

/*
.navbar {
	align-items: center;
	background: #000000;
	display: flex;
	height: 70px;
	justify-content: space-between;
	padding: 0 5%;
	border: 1px solid red;
}

.navbar h1 a {
	align-items: center;
	color: #e74c3c;
	display: flex;
	gap: 0.5rem;
}
*/

.navbar form {
	display: flex;
	height: 35px;
	border: 1px solid blue;
}

.navbar form input {
	border: none;
	border-radius: 5px 0 0 5px;
	font-size: 1.1rem;

	outline: none;
	min-width: 110px;
	width: 100%;
}

.navbar form button {
	align-items: center;
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
	border-radius: 0 5px 5px 0;
	color: #ffffff;
	cursor: pointer;
	display: flex;
	font-size: 20px;
	justify-content: center;
	width: 35px;
}

.navbar form button:hover {
	background: #ff1801;
}
