.article {
	display: flex;
	justify-content: center;
}

.container {
	align-items: center;
	display: flex;
	font-size: 17px;
	gap: 20px;
	min-height: calc(100vh - 70px);
	max-width: 1065px;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.content > div {
	margin: 8px 0;
	width: 100%;
}

.content h2 {
	font-size: 20px;
}

.image img {
	height: 450px;
	width: 300px;
}

.details h1 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	font-size: 35px;
}

.details p {
	text-align: justify;
	padding-top: 5px;
}

@media (max-width: 991.98px) {
	.article {
		flex-direction: column;
		padding: 15px 20px;
	}

	.image img {
		height: 100%;
		width: 100%;
	}

	.details h1 {
		text-align: center;
	}
}
